{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <h1> 
        {{ title }}
    </h1>
    <p>
        stagiaires index controller
    </p>
{% endblock %}
