{% extends 'base.html.twig' %}
{% block nav %}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    Bienvenue
{% endblock %}
{% block footer %}
{% endblock %}