{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block main %}
  <h2>{{ cours.nom }}</h2>
  <h3>Ajouter des gens</h3>

  {{ form(form) }}

  <hr>
  <h3>Participants actuels</h3>

  {{ form(formb) }}
{% endblock %}