{% extends 'base.html.twig' %}

{% block title %} {{ title }}{% endblock %}

{% block main %}
<h2>{{ title }}</h2>
<div class='row'>
    <div class='col-6'>
        {{ form(formadd) }}
    </div>
    <div class='col-6'>
        {{ form(formremove) }}
    </div>
</div>
{% endblock %}